.fullBar {
  width: 100vw;
  height: 9.25vh;
  display: flex;
  flex-direction: row;
  background-color: rgba(255, 42, 42, 0);
  z-index: 50;
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 17px;
  padding-left: 15px;
}

.leftBar {
  width: 80%;
  height: 100%;
  /* background-color: red; */
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.rightBar {
  width: 20%;
  height: 100%;
  /* background-color: aliceblue; */
  display: flex;
  justify-content: flex-end;
  border-bottom: 2px solid #f3f1eb;
}

.textBlock {
  width: 87%;
  height: 100%;
  display: flex;
  flex-direction: row;
  border-bottom: 2px solid #f3f1eb;
}

.imageBlock {
  width: 13%;
  height: 100%;
  /* background-color: aqua; */
  padding: 0px 15px;
}

.logoimg {
  height: 100%;
  width: auto;
}

.homeBlock,
.campgroundBlock {
  width: 19%;
  height: 100%;
  text-align: center;
  color: #f3f1eb;
  font-size: 1.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.homeBlock {
  /* background-color: aquamarine; */
  border-bottom: 6px solid #ffffff;
}

.campgroundBlock {
  /* background-color: bisque; */
}

.homeBlock:hover,
.campgroundBlock:hover,
.mybookingBlock:hover {
  background-color: rgba(249, 249, 249, 0.5);
  color: #f3f1eb;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

body:has(.campgroundBlock:hover) .homeBlock {
  border-bottom: 0px solid #ffffff;
  transition: 400ms;
}

.campgroundBlock:hover {
  border-bottom: 6px solid #ffffff;
  transition: 400ms;
}

.signinBlock {
  width: 70%;
  /* background-color: red; */
  display: flex;
  justify-content: center;
}

.button {
  background-color: transparent;
  height: 80%;
  font-size: 1.25rem;
  border: 2px solid #f3f1eb;
  color: #f3f1eb;
  border-radius: 12px;
  padding: 2px 14px;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.button:hover {
  background-color: rgba(249, 249, 249, 0.5);
  color: #f3f1eb;
  border-color: rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.profileBlock {
  /* background-color: red; */
  height: 100%;
  width: 20%;
  padding-right: 5%;
}

.profilePicture {
  width: 100%;
}

.wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  /* background-color: aliceblue; */
  align-content: center;
}

.mybookingBlock {
  /* background-color: aquamarine; */
  width: 62.75%;
  height: 100%;
  text-align: center;
  color: #f3f1eb;
  font-size: 1.25rem;
  /* padding-top: 2%; */
  margin-right: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}

body:has(.mybookingBlock:hover) .homeBlock {
  border-bottom: 0px solid #ffffff;
  transition: 400ms;
}

.mybookingBlock:hover {
  border-bottom: 6px solid #ffffff;
  transition: 400ms;
}
